body{
    font-family: 'Poppins', sans-serif;
}

p{
color: gray;
}
                    /*header-area*/

.header-area{
    display: flex;
}

.header-title{
    width: 50%;
    padding: 100px;
}
.header-title h1{
    font-size: 40px;
    font-weight: bold;
    
}
.header-image{
    width: 50%;

}
.header-image img{
    width: 80%;
    margin-top: 65px;
}
.small-color{
    color: #FD4D2E;
}
.header-btn{
    margin-top: 40px;
}
.btn{
    text-decoration: none;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 100px;
    display: inline;
    color: #fff;
}
